*{
  margin: 0;
  padding: 0;  
  font-family: sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: auto;  
}

.welcome{
  display: flex;
  flex-direction: column !important;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.welcome-box{
  background-image: linear-gradient( 113.3deg,  rgba(217,9,27,1) 6.9%, rgba(22,68,150,1) 75% );
  color: white;
  width: 30rem;
  height: 20rem;
  border-radius: 0.4rem;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.welcome-box > h1{
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.welcome-box > p{
  font-size: 1rem;
  margin-bottom: 1rem;
}

#clock{
  font-size: 0.8rem;
  text-transform: uppercase;
}